<h1>New game</h1>
<h2><% @letters.each do |letter| %>
  <div class="letter"><%= "#{letter}" %></div>
  <% end %>
</h2>
<div clas="container">
  <p>What's the longest word you cand find?</p>
  <form action="score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :grid, @letters %>
    <input type="text" name= "attempt" >
    <input type="submit" value="Play">
  </form>
</div>

